# Created by .ignore support plugin (hsz.mobi)
*~
._*
*.log
*.tmp
.env
config.php
/vendor/
/tmp/

# IDE: JetBrains, NetBeans, Eclipse
/.settings/
/.idea/
.classpath
.buildpath
.project
*.iml
*.iws
*.swp